[Unit]
Description=set permissions for Arduino tty device 

[Service]
Type=simple
User=root
ExecStart=stty -F /dev/ttyACM0 9600 raw -icrnl
Restart=on-failure

[Install]
WantedBy=multi-user.target

