[Unit]
Description=writes weather data to database
StartLimitIntervalSec=30
StartLimitBurst=2

[Service]
Type=simple
User=debian
WorkingDirectory=/home/debian/weatherdb2
ExecStart=/usr/bin/node index.js
Restart=always

[Install]
WantedBy=multi-user.target