[Unit]
Description=make fileserver on port 8081
StartLimitIntervalSec=30
StartLimitBurst=2

[Service]
Type=simple
User=debian
WorkingDirectory=/home/debian/weatherdb2/fileserver
#ExecStartPre=-pkill -f "/usr/bin/ezstream -qc /home/radio/ezstream_klassik.xml"
ExecStart=/usr/bin/node index.js
#ExecStop=pkill -f "/usr/bin/ezstream -qc /home/radio/ezstream_klassik.xml"
#TimeoutSec=180
Restart=on-failure

[Install]
WantedBy=multi-user.target

