table,tr,th,td { border: 2px solid darkgray; background-color: var(--primary); } 
th { background-color: var(--secondary); color: var(--primary); text-align: left; } 
th,td { padding-left: 0.5em; padding-right: 0.5em; } 